<head>
</head>
<div class="container">
<% provide(:title, @food_type.name) %>

<% l = @foods.length %>
<% i = 0 %>
<% @foods.each do |food| %>
	
	<!-- for computer -->
	<% if i%4 == 0 %>
		<div class="row hidden-xs">
	<% end %>
	
	<%= link_to  food, remote: true, class: "show-food-modal white-panel col-sm-3" do %>
		<img src="/images/foods/test.jpg" alt="车酷烧烤">
		<h4 class="text-center"><%= food.name %> <span class="glyphicon glyphicon-yen" aria-hidden="true"></span><span><%= food.price %></span></h4>
    <p></p>
	<% end %>
	
	<% if i%4 == 3 %>
		</div>
	<% end %>
	
	<% i = i + 1 %>
	<% if i == l %>
		</div>
	<% end %>

<% end %>

<% i = 0 %>
<% @foods.each do |food| %>

	<!-- for mobile -->
	<% if i%3 == 0 %>
		<div class="row visible-xs-block">
	<% end %>
	
	<%= link_to  food, remote: true, class: "show-food-modal white-panel col-xs-4" do %>
		<img src="/images/foods/test.jpg" alt="车酷烧烤">
		<h4 class="text-center"><%= food.name %> <span class="glyphicon glyphicon-yen" aria-hidden="true"></span><span><%= food.price %></span></h4>
    <p></p>
	<% end %>
	
	<% if i%3 == 2 %>
		</div>
	<% end %>
	
	<% i = i + 1 %>
	<% if i == l %>
		</div>
	<% end %>

<% end %>

<!-- modal -->
<div id="foodModal" class="modal fade" ndex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-body">
      	<h3 class="text-center"><span id="show-food-name"></span> <span class="glyphicon glyphicon-yen" aria-hidden="true"></span><span id="show-food-price"></span></h3>
      	<div class="hide"><p6 id="food-id"></p6></div>
      	<img src="/images/foods/test.jpg" " alt="车酷烧烤" >      
      </div>
      
      <div class="modal-footer">
      	<div class="container-fluid">
      		<div class="row">
      			<input class="col-sm-2 col-xs-4" id="food-number" type="text" value="5" />
      			<button id="add-to-menu" class="btn btn-small btn-warning pull-right col-sm-5 col-xs-7 col-sm-offset-1" data-dismiss="modal" type="button">加入菜单</button>
      			<input id="myRange-desk" onmousemove="rangeDesk()" class="hidden-xs" type="range" name="points" value="5" min="1" max="50">
      			<input id="myRange-mobile" ontouchmove="rangeMobile()" class="visible-xs-block" type="range" name="points" value="5" min="1" max="30">
      		</div>
      	</div>
      </div>
    </div>    
  </div>
</div>

<hr>

</div> <!-- container -->


<script>
function rangeDesk() {
    var x = document.getElementById("myRange-desk").value;
    document.getElementById("food-number").value = x;
}
function rangeMobile() {
    var x = document.getElementById("myRange-mobile").value;
    document.getElementById("food-number").value = x;
}
</script>
