<p id="notice"><%= notice %></p>

<p>
  <strong>Authentication:</strong>
  <%= @menu.authentication_id %>
</p>

<p>
  <strong>Statu:</strong>
  <%= @menu.statu %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
